---
import Menu from "@/assets/icons/menu.svg"
---

<!-- <nav class="flex justify-between px-10 py-5 bg-gray-0 backdrop-filter backdrop-blur-xs bg-opacity-10"> -->
<nav class="header-animated">
   <div class="header-inner">
      <a href="/">
         <p class="text-5xl font-bold text-primary-500">Poke<span class="text-secondary-500">Cube</span></p>
      </a>
      <ul class="hidden items-center gap-10 md:flex">
         <li>
            <a href="#" class="text-primary-500 font-bold hover:opacity-80">Principal</a>
         </li>
         <li>
            <a href="#" class="text-white font-bold hover:opacity-80">Tienda</a>
         </li>
         <li>
            <a href="#" class="text-white font-bold hover:opacity-80">Reglas</a>
         </li>
         <li>
            <a href="#" class="text-white font-bold hover:opacity-80">Iniciar sesión</a>
         </li>
      </ul>
      <button type="button" class="flex justify-center items-center cursor-pointer hover:opacity-80 md:hidden">
         <Menu width={40} height={40} />
         <!-- <p>Mostrar</p> -->
      </button>
   </div>
</nav>
<!-- <div class = " h-full w-full bg-gray-0 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 border border-gray-100 " > asd </div > -->
