---
import Discord from '@/assets/icons/discord.svg'
import Tiktok from '@/assets/icons/tiktok.svg'
import Youtube from '@/assets/icons/youtube.svg'
---

<footer class="flex flex-col md:flex-row gap-10 px-20 justify-between items-center py-10 mt-10 border-t-2 border-slate-400">
   <p class="text-2xl font-bold text-slate-400 text-center">PokeCube © 2025</p>
   <div class="flex gap-10">
      <a href="#" class="hover:scale-120 transition-all">
         <Discord width={50} height={50} class="fill-slate-400"/>
      </a>
      <a href="#" class="hover:scale-120 transition-all">
         <Tiktok width={50} height={50} class="fill-slate-400"/>
      </a>
      <a href="#" class="hover:scale-120 transition-all">
         <Youtube width={50} height={50} class="fill-slate-400"/>
      </a>
   </div>
</footer>